<!DOCTYPE html>
<html>
<%- include("layout/head") %>
<body>
<%- include("layout/header") %>
<!--[if lt IE 9]>
    <%- include("layout/update") %>
<![endif]-->
<%- include("layout/body") %>
<!-- <%- include("layout/footer") %> -->
</body>
</html>
